.stick{
    height: 550px;
    width: 5px;
    background-color: black;

}
.bg{
    display: flex; 
}
.content{
    margin-top: 5%;
    margin-left: 35%;
}
body{
    background-color:azure;
}
.flag{
    height:200px;
    width: 300px;
    /* background-color: blue; */
}
.kesar{
    height:66.66px;
    width: 300px;
    background-color: orange;
}
.white{
    height: 66.66px;
    width: 300px;
    background-color: white;
}
.green{
    height: 66.66px;
    width: 300px;
    background-color: green;
}
.spin{
    margin-left: auto;
    margin-right: auto;
    height:66.66px;
    width:66.66px;
 
    border: 2px solid darkblue;
    border-radius: 45px;
    position: relative;
    margin: 0 auto 
}
.spin .line{
    height: 100%;
    width: 1px;
    display: inline-block;
    position: absolute;
    left: 50%;
    background: darkblue;
    
}
.line:nth-child(1){
    transform: rotate(15deg);
}
.line:nth-child(2){
    transform: rotate(30deg);
}
.line:nth-child(3){
    transform: rotate(45deg);
}
.line:nth-child(4){
    transform: rotate(60deg);
}
.line:nth-child(5){
    transform: rotate(75deg);
}
.line:nth-child(6){
    transform: rotate(90deg);
}
.line:nth-child(7){
    transform: rotate(105deg);
}
.line:nth-child(8){
    transform: rotate(120deg);
}
.line:nth-child(9){
    transform: rotate(135deg);
}
.line:nth-child(10){
    transform: rotate(150deg);
}
.line:nth-child(11){
    transform: rotate(165deg);
}
.line:nth-child(12){
    transform: rotate(180deg);
}

.spin{
    animation-name: rotation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}